.item {
    color: #777
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;

}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}