* {
  font-size: 1em;
  color: #6f7577;
}

.app-wrapper {
  display: grid;
  grid-template-areas: 
    "header header"
    "nav cont";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}

.header {
  grid-area: header; 
  border-bottom: 1px solid #6f7577;
}

.header img {
  width: 60px;
}

.nav {
  grid-area: nav;
  border-right: 1px solid #6f7577;
}

.nav ul {
  list-style: none;
  font-size: 130%;
}

.content {
  grid-area: cont
}

.content__header-img img {
  width: 100%;
}